/* Table of Content
==================================================
	#Dialog
*/


/* #Dialog
================================================== */
.ui-dialog {
    left: 0;
    outline: 0 none;
    padding: 0 !important;
    position: absolute;
    top: 0;
    background-color: white;
}

#success {
    padding: 0;
    margin: 0; 
}

.ui-dialog .ui-dialog-content {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    overflow: auto;
    position: relative;
    padding: 10px !important;
}

.ui-widget-header {
    background: #b0de78;
    border: 0;
    color: #fff;
    font-weight: normal;
}

.ui-dialog .ui-dialog-titlebar {
    padding: 0.1em .5em;
    position: relative;
	font-size: 1em;
	background-color:#e2e2e2;
}

.ui-dialog-buttonpane {
	background-color:#e2e2e2;
	padding-left: 10px;
}