body, p {
	font-family:"Tahoma", Georgia, Serif;
}

.fontface h1, .fontface h2, .fontface h3, .fontface h4, .fontface h5, .fontface h6 {
	font-family: 'league_gothicregular', Georgia, sans-serif;
}

.no-fontface h1, .no-fontface h2, .no-fontface h3, .no-fontface h4, .no-fontface h5, .no-fontface h6 {
	font-family: Arial, sans-serif;
}

@font-face {
    font-family: 'league_gothicregular';
    src: url('league_gothic-webfont.eot');
    src: url('league_gothic-webfont.eot?#iefix') format('embedded-opentype'),
         url('league_gothic-webfont.woff') format('woff'),
         url('league_gothic-webfont.ttf') format('truetype'),
         url('league_gothic-webfont.svg#league_gothicregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

.page-header {
	background-color: #E5E5E5;
	color: #333;
}

.page-header h4{
	padding-left: 10px;
	background-color: #E5E5E5;
	color: #333;
}

.custom-form {
	background-color: #FFF;
}

.side-bar {
	background-color: #404040;
}

footer ul {
	display: inline;
}
