body, p {
	font-family:"Tahoma", Georgia, Serif;
	color: #ffffff;
}

.fontface h1, h2, h3, h4, h5, h6 {
	font-family: 'league_gothicregular', Arial, sans-serif;
}

.no-fontface h1, h2, h3, h4, h5, h6 {
	font-family: Arial, sans-serif;
}


@font-face {
    font-family: 'league_gothicregular';
    src: url('league_gothic-webfont.eot');
    src: url('league_gothic-webfont.eot?#iefix') format('embedded-opentype'),
         url('league_gothic-webfont.woff') format('woff'),
         url('league_gothic-webfont.ttf') format('truetype'),
         url('league_gothic-webfont.svg#league_gothicregular') format('svg');
    font-weight: normal;
    font-style: normal;

}